<table width="80%" cellpadding="0" cellspacing="0" align="center" style="border-left: 1px solid #7aa37a; border-right: 1px solid #7aa37a; border-bottom: 1px solid #7aa37a; background-color: #cce5cc">
  <tbody>
    <tr>
      <td align="center" valign="top" style="padding-top: 30px;">
        <table border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>
                <a href="#"><img src="https://1stwebdesigner.com/demos/responsive-email-template/img/fb.png" width="32" height="32" style="display:block;"></a>
              </td>
              <td>
                <a href="#">
                  <img src="https://1stwebdesigner.com/demos/responsive-email-template/img/twitter.png" width="32" height="32" style="display:block;"></a>
              </td>
              <td>
                <a href="#">
                  <img src="https://1stwebdesigner.com/demos/responsive-email-template/img/pinterest.png" width="32" height="32" style="display:block;">
                </a>
              </td>
            <td>
              <a href="#">
                <img src="https://1stwebdesigner.com/demos/responsive-email-template/img/google.png" width="32" height="32" style="display:block;"></a>
            </td>
          </tr>
        </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; color: #4c664c; padding-bottom: 20px;">
        <p style="padding-top: 10px;"> <b>© Copyright 2019 - Equipe Meetapp</b></p>
      </td>
    </tr>
  </tbody>
</table>
